#page-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-landing .content-wrapper {
    position: relative;

    width: 100%;
    max-width: 1100px;

    height: 100%; 
    max-height: 680px;

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    background: url('../../images/landing.svg') no-repeat 70% center;
    background-size: 47%;
}

#page-landing .content-wrapper  main {
    max-width: 350px;
}

#page-landing .content-wrapper  main h1 {
    font-size: 76px;
    font-weight: 700;
    line-height: 70px;
}

#page-landing .content-wrapper  main p {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 34px;
}

.content-wrapper img{
    margin-top: 45px;
}

.content-wrapper .location {
    position: absolute;
    right: 3px;
    top: 120px;
    
    font-size: 20px;
    line-height: 25px;
    
    display: flex;
    flex-direction: column;
    
    text-align: right;
}


.content-wrapper .location strong {
    font-weight: 700;
}

.content-wrapper .enter-app {
    position: absolute;
    right: 0;
    bottom: 40px;

    width: 80px;
    height: 80px;
    background: #ffd666;
    border-radius: 30px;


    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover {
    background: #96FEFF;
}

.content-wrapper .access-app {
    position: absolute;
    right: 0px;
    margin-top: 45px;
    
    width: 222px;
    height: 56px;
    background: #12D4E0;
    border-radius: 20px;

    color: white;
    font-size: 20px;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
}

.content-wrapper .access-app:hover{
    background: #96FEFF;
    color: #15C3D6;
}